.title {
  color: blue;
  font-family: verdana;
  font-size: 250%;	
  text-align: center; 
}

.subtitles {
  color: mediumpurple;
  font-family: verdana;
  font-size: 100%;	
  text-align: center;
}
